span.cm-italic {
  font-style: italic;
}

span.cm-bold {
  font-weight: bold;
}

span.cm-footnote-citation,
span.cm-special-char
{
  vertical-align: super;
  font-size: 75%;
}

span.cm-table {
    font-family: monospace;
    color: #660;
}
